// general colors
$rph_orange: #ff4500;
$rph_white: #ffffff;
$rph_light_gray: #EDEFF1;
$rph_light_gray2: #f2f4f5;
$rph_light_orange: #ff7f50;
$reddit_brand: $rph_orange;
$discord_brand: #5865F2;
$twitch_brand: #6441a5;

// alts
$accent: $rph_orange;
$body_background: $rph_light_gray;
$hover_background: $rph_light_gray2;
$text_muted: #4f4f4f;