nav.navbar {
    background-color: $rph_white;
    width: 100%;
    min-height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 2rem;

    .navbar-brand {
        font-weight: 600;
        font-size: 1.05rem;
    }

    .navbar-items {
        list-style-type: none;
        margin: 0;
        display: flex;
        gap: .3rem;
        text-align: center;

        .navbar-item {
            padding: .5rem .8rem;
            border-radius: .5rem;
            cursor: pointer;

            &:hover,
            &:focus {
                background-color: $hover_background;
            }
        }

        .navbar-item a {
            color: black;
            text-decoration: none;
        }

        .navbar-item .icon {
            margin-right: .1rem;
        }
    }
}

@media only screen and (max-width: 700px) {
    nav.navbar {
        padding: .7rem;

        .navbar-items {
            gap: .7rem;

            .navbar-item {
                background-color: $hover_background;
                font-size: 0;
            }
            
            .navbar-item .icon {
                width: 1.5rem;
                height: 100%;
                margin: 0;
                vertical-align: middle;
            }
        }

        .navbar-brand {
            font-size: .9rem;
            font-weight: 700;
        }
    }
}