* {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background-color: $body_background;
    display: flex;
    margin: 0;
    flex-direction: column;
    line-height: 100%;
    font-weight: 500;
}