.project-post {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 2rem;
    // border: 1px solid red;
    background-color: $rph_light_orange;
    border-radius: .7rem;
    box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.37);
}

.project-image {
    // border: 1px solid orange;
    height: 100%;
}

.project-info {
    // border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.project-title {
    // border: 1px solid green;
    margin-top: 10px;
    color: white;
    // font-size: 16px;
}
.project-description {
    color: white;
    margin: 0;
    // border: 1px solid blue;
}
.project-author-info {
    // border: 1px solid purple;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    gap: .3rem;
}
.author-pfp {
    // border: 1px solid black;
    border-radius: 50%;
    width: 2rem;
}
.tag {
    // border: 1px solid gray;
    color: white;
    border-radius: 10px;
    padding: .25rem .5rem;
    background-color: $rph_orange;
}